/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-light: #ffffff;
    --background-dark: #121212;
    --text-light: #000000;
    --text-dark: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    @apply transition-colors duration-300;
}
html {
    background-color: var(--background-light);
    color: var(--text-light);
}

html.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

* {
    box-sizing: border-box;
}

